@import url("Header.css");
@import url("Main.css");
@import url("About.css");
@import url("News.css");
@import url("NotFound.css");
@import url("Tiles.css");
@import url("Authenticate.css");

:root {
    scroll-behavior: smooth;
    /* COLORS */
    --dt-linear-gradient-315: linear-gradient(315deg, #000000ef, transparent);
    --linear-onhover-gradient: linear-gradient(
        270deg,
        #264072 15%,
        #416a95 85%
    );
    --border-color: #6bc6ff;
    --button-linear-background: linear-gradient(90deg, #1d3057, #345679);
    --button2-linear-background: radial-gradient(#00000012, #1c61a9ab);
    --button2-background: #002f74a6;
    --component-background: #022961;
    --component-transparent-background: #022961e0;
    /* * */
    --header-justify: space-between;
    --header-height: clamp(2rem, 3.5vw, 7rem);
    --header-side-margin: clamp(0.5rem, 1.8vw, 2.5rem);
    --header-to-main-gap: 7.5vh;

    --medium-button-padding: 0.4vw clamp(0.4rem, 1vw, 1rem);
    --bigger-button-padding: calc(1vw + 0.2rem) clamp(0.6rem, 1.5vw, 2rem);

    --small-font-size: clamp(0.6rem, 0.75vw + 0.3rem, 2rem);
    --medium-font-size: clamp(0.65rem, 0.85vw + 0.3rem, 2rem);
    --bigger-font-size: clamp(0.75rem, 0.95vw + 0.25rem, 4rem);

    --content-padding-x: clamp(18px, 5vw, 64px);
    --content-padding-y: clamp(4px, 1vh, 10px);
    --content-margin-x: clamp(20px, 5vw + 1vh, 128px);
    --content-margin-y: 2vh;

    --welcome-content-width: clamp(225px, 50vw + 9.5vh, 1640px);
    --welcome-content-height: 60vh;

    --main-height: calc(150vh - var(--header-height));
    --gap-height: calc(14vh + 8vw);
    --news-height: 1000px;

    --tile-height: clamp(110px, 6vh + 7vw + 3rem, 300px);
    --tile-width: clamp(250px, 6vh + 24vw + 2rem, 600px);

    --input-field-width: clamp(200px, 6vh + 14vw + 9rem, 450px);
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(18 74 179);
}

body {
    margin: 0;
    color: #d9d7d4;
    width: 100%;
    background-color: rgb(0, 46, 77);
}

a {
    text-decoration: none;
    color: #e7e7e7;
    outline: none !important;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}

.button {
    padding: var(--medium-button-padding);
    margin: 0 0.1em;
    text-align: center;
    text-wrap-style: balance;
    cursor: pointer;
}

.button:hover,
a:focus-visible,
button:focus-visible {
    background: var(--linear-onhover-gradient) !important;
    border-radius: 2px;
}

.center-x {
    margin: auto auto !important;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
}

.dc-center-xy {
    align-content: center;
    justify-items: center;
    text-align: center;
}

.w-100 {
    width: 100% !important;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.items-center {
    align-items: center !important;
}

.m-2 {
    margin: 2px !important;
}

.mx-3vw {
    margin-right: 3vw !important;
    margin-left: 3vw !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1r {
    padding-top: 1rem !important;
}

.pt-2r {
    padding-top: 2rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1r {
    padding-bottom: 1rem !important;
}

.pb-2r {
    padding-bottom: 2rem !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.txt-align-l {
    text-align: left !important;
}

.txt-align-r {
    text-align: right !important;
}

.txt-align-c {
    text-align: center !important;
}

.text-container {
    height: calc(
        var(--welcome-content-height) - var(--bigger-font-size) - 4 *
            var(--content-margin-y) - 10px
    );
    overflow: auto;
    margin: var(--content-margin-y) var(--content-padding-x);
    align-content: center;
}

.img-as-bgr {
    background-position-x: center;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-bgr {
    background-image: url("/public/ddg_16211168.jpg");
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: var(--header-height);
    position: relative;
    overflow: auto;
}

.welcome-box {
    height: var(--welcome-content-height);
    text-align: center;
    align-content: center;
    padding: var(--content-padding-y) var(--content-padding-x);
    width: var(--welcome-content-width);
    background-image: var(--dt-linear-gradient-315);
    background-color: var(--component-transparent-background);
    border-radius: 2.5vw;
}

.section-gap {
    background-color: rgba(0, 0, 0, 0.9);
    height: var(--gap-height);
    width: 100%;
    background-image: linear-gradient(0deg, #030217, #080253bd);
}

.pic {
    background-image: url("/public/ddg_16136833_h.jpg");
    background-size: cover;
}

.transparent-blue {
    background-color: rgba(0, 56, 111, 0.1);
}
