@import url("Header.css");
@import url("Main.css");
@import url("About.css");
@import url("News.css");
@import url("NotFound.css");
@import url("Tiles.css");

:root {
    scroll-behavior: smooth;

    --header-justify: space-between;
    --header-height: clamp(2rem, 3.5vw, 7rem);
    --header-side-margin: clamp(0.5rem, 1.8vw, 2.5rem);
    --header-to-main-gap: 7.5vh;

    --medium-button-padding: 0.4vw clamp(0.4rem, 1vw, 1rem);
    --bigger-button-padding: calc(1vw + 0.2rem) clamp(0.6rem, 1.5vw, 2rem);

    --medium-font-size: clamp(0.65rem, 0.85vw + 0.3rem, 2rem);
    --bigger-font-size: clamp(0.75rem, 1.1vw + 0.3rem, 4rem);

    --content-padding-x: clamp(18px, 5vw, 64px);
    --content-padding-y: clamp(4px, 1vh, 10px);
    --content-margin-x: clamp(20px, 5vw + 1vh, 128px);
    --content-margin-y: 2vh;

    --welcome-content-width: clamp(225px, 50vw + 9.5vh, 1640px);
    --welcome-content-height: 60vh;

    --main-height: calc(150vh - var(--header-height));
    --gap-height: calc(14vh + 8vw);
    --news-height: 1000px;

    --tile-height: clamp(100px, 12vh + 5vw, 250px);
    --tile-width: clamp(250px, 6vh + 22vw, 600px);
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(27, 92, 213);
}

body {
    margin: 0;
    color: #d9d7d4;
    width: 100%;
    background-color: rgb(0, 46, 77);
}

a {
    text-decoration: none;
    color: #e7e7e7;
    outline: none !important;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}

.button {
    padding: var(--medium-button-padding);
    margin: 0 0.1em;
    text-align: center;
    text-wrap-style: balance;
    cursor: pointer;
}

.button:hover,
a:focus-visible,
button:focus-visible {
    background-image: radial-gradient(#ffffff49, #6500d9c2) !important;
    background-color: #060074a4 !important;
}

.center-x {
    margin: auto auto !important;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
}

.dc-center-xy {
    align-content: center;
    justify-items: center;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.m-2 {
    margin: 2px;
}

.text-container {
    height: calc(
        var(--welcome-content-height) - var(--bigger-font-size) - 4 *
            var(--content-margin-y) - 10px
    );
    overflow: auto;
    margin: var(--content-margin-y) var(--content-padding-x);
    align-content: center;
}

.img-as-bgr {
    background-position-x: center;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-bgr {
    background-image: url("/public/ddg_16211168.jpg");
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: var(--header-height);
    position: relative;
    overflow: auto;
}

.welcome-box {
    height: var(--welcome-content-height);
    text-align: center;
    align-content: center;
    padding: var(--content-padding-y) var(--content-padding-x);
    width: var(--welcome-content-width);
    background-color: rgba(0, 0, 255, 0.5);
    background-image: linear-gradient(315deg, #000000, transparent);
    border-radius: 2.5vw;
}

.section-gap {
    background-color: rgba(0, 0, 0, 0.9);
    height: var(--gap-height);
    width: 100%;
    background-image: linear-gradient(0deg, #030217, #080253bd);
}

.pic {
    background-image: url("/public/ddg_16136833_h.jpg");
    background-size: cover;
}
