header {
    display: flex;
    align-items: center;
    justify-content: var(--header-justify);
    text-wrap: nowrap;
    font-size: var(--medium-font-size);
    height: var(--header-height);
    background-color: var(--component-background);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #3a759b;

    & .logo {
        margin-left: var(--header-side-margin);

        & h3 {
            margin: 0 !important;
        }

        & .button {
            padding: calc(var(--header-height) / 3 - 2px) 2vw !important;
        }
    }

    & .nav-small {
        background: var(--button-linear-background);
        width: 35vw;
        border-top: 1px solid var(--border-color);
        position: fixed;
        left: 0;
        top: var(--header-height);
        transition-timing-function: linear;
        transition-duration: 0.75s;

        & .navbtn-small {
            text-align: center;
            padding: 5px;
            border-bottom: 1px solid var(--border-color);
        }

        & .navbtn-small:hover,
        .navbtn-small.current {
            background: var(--linear-onhover-gradient) !important;
            border-right: 1px solid var(--border-color) !important;
            border-left: 1px solid var(--border-color) !important;
        }
    }

    & .hide {
        left: -35vw;
    }

    & .menu-icon-box {
        background-image: var(--button2-linear-background);
        background-color: var(--button2-background);
        border-radius: 1px;
        border-right: 1px solid var(--border-color) !important;
        border-left: 1px solid var(--border-color) !important;
    }

    & .menu-icon-line {
        width: 20px;
        height: 2px;
        background-color: black;
        margin: 2px 0;
    }

    & .user-panel {
        display: inherit;
        margin-right: var(--header-side-margin);
    }

    & .nav-big {
        display: inherit;
        width: 40vw;
        justify-content: var(--header-justify);
        transform: translate(-15%, 0);
    }

    & .navbar.button {
        padding: calc(var(--header-height) / 3 - 1px) 2vw;
        margin: 0;
        border-right: 2px solid transparent;
        border-radius: 0 !important;
        border-left: 2px solid transparent;
    }

    & .navbar.button:hover,
    .navbar.current {
        border-right: 2px solid var(--border-color);
        border-left: 2px solid var(--border-color);
    }

    & .navbar.current {
        background: var(--linear-onhover-gradient) !important;
    }
}
