.not-found {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 0;
    align-items: center;
    background-color: rgb(0, 46, 77);
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
    font-size: var(--bigger-font-size);

    & .number {
        padding: 0 1rem 0 1rem;
        border-right: 1px solid rgb(203, 213, 224);
    }

    & .txt {
        text-transform: uppercase;
        margin-left: 1rem;
    }
}
